@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.planned-meals {

    &__plate {
        @include platePositioning;

        &-container {
            @include desktopWidth;
        }
    }

    &__background {
        @include backgroundPositioning;
    }

    &__container {
        @include contentContainerPositioning;
    }

    &__meal-container {
        text-align: center;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__ing-list {
        margin: 0;
        padding: 0;
    }

    &__list-item {
        list-style: none;
    }
}