@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.planned-meals {

    &__plate {
        width: 6rem;

        @include tablet {
            width: 10rem;
        }

        @include desktop {
            margin-top: 1.5rem;
            width: 13rem;
        }

        &-container {
            @include desktop {
                max-width: 1280px;
                margin: 0 auto;
            }
        }
    }

    &__background {
        display: none;

        @include tablet {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        &-mobile {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;

            @include tablet {
                display: none;
            }
        }
    }

    &__container {
        padding: .5rem;
        margin: 0 auto;
        width: 70%;
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        top: 15%;
        left: 10%;
        right: 10%;
        justify-content: center;

        @include tablet {
            padding: 1rem;
            width: 80%;
            top: 17%;
        }

        @include desktop {
            max-width: 1280px;
            top: 19%;
        }
    }

    &__meal-container {
        border: 1px solid red;
        text-align: center;
    }

    &__form {}

    &__title {
        font-size: 1.5rem;
    }

    &__type {}

    &__ing-list {
        padding: 0;
        margin: 0;
    }

    &__list-item {
        list-style: none;
    }

    &__button {
        border: none;
        background-color: black;
        color: white;
        font-family: 'Indie FLower';
        width: 10rem;
    }
}