@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.meal-build {

    &__plate {
        @include platePositioning;

        &-container {
            @include desktopWidth;
        }
    }

    &__background {
        @include backgroundPositioning;
    }

    &__form-container {
        @include contentContainerPositioning;
    }

    &__label {
        @include tablet {
            font-size: 2rem;
        }
    }

    &__label-qty {
        margin-right: 2rem;
        display: inline;

        @include tablet {
            font-size: 2rem;
            margin-right: 3rem;
        }
    }

    &__label-ing {
        display: inline;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__input-text {
        background-color: $inputFieldColor;
        border: none;
        margin-bottom: .5rem;
        width: 100%;
        display: block;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__select {
        background-color: $inputFieldColor;
        border: none;
        margin-bottom: .5rem;
        display: block;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__qty-ing-container {
        justify-content: space-around;
        margin: 0 0 .25rem 0;
        padding: 0;
        display: flex;
    }

    &__qty-input {
        background-color: $inputFieldColor;
        border: none;
        margin: .25rem .5rem 0 0;
        width: 2.5rem;

        @include tablet {
            font-size: 2rem;
            margin: .5rem 1rem 0 0;
            width: 5rem;
        }
    }

    &__ing-input {
        background-color: $inputFieldColor;
        border: none;
        margin: .25rem 0 0 0;
        width: 100%;
        min-width: 8rem;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__button {
        @include buttonSubmit;
    }
}