@font-face {
    font-family: 'Indie Flower';
    src: url("../../assets/fonts/AlternativeFiles/IndieFlower-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Indie Flower';
    src: url("../../assets/fonts/IndieFlower.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Indie Flower';
    src: url("../../assets/fonts/IndieFlower.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}