@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.groceries {

    &__plate {
        @include platePositioning;

        &-container {
            @include desktopWidth;
        }
    }

    &__background {
        @include backgroundPositioning;
    }

    &__container {
        @include contentContainerPositioning;
        text-align: center;
    }

    &__ingredient-item {
        @include tablet {
            font-size: 2rem;
        }

        &--completed {
            text-decoration: line-through;
            color: red;
        }
    }

    &__button {
        @include buttonClear;
    }
}