@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.home-page {

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__splash {
        padding-top: 2rem;
        margin: 0 auto;
        object-fit: contain;
        width: 90%;
        display: flex;
        max-height: 15rem;

        @include tablet {
            width: 50%;
        }

        @include desktop {
            max-width: 1280px;
            max-height: 29rem;
        }
    }
}