@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.nav {
    position: fixed;
    bottom: 0;
    height: 7rem;
    width: 100%;
    z-index: 1;

    &:hover .nav-bar {
        bottom: 0;
    }


    &-bar {
        width: 100%;
        position: absolute;
        bottom: -7rem;
        transition: bottom 0.4s ease;

        &__arrow {
            display: flex;
            margin: 0 auto;
            width: 3rem;
            position: relative;
            bottom: -3.5rem;

            @include tablet {
                width: 3.5rem;
            }
        }

        &__m-bg {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            @include tablet {
                display: none;
            }
        }

        &__t-bg {
            display: none;

            @include tablet {
                display: block;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            @include desktop {
                display: none;
            }
        }

        &__d-bg {
            display: none;

            @include desktop {
                display: block;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &__container {
            width: 100%;
            height: 2rem;
            position: relative;
            z-index: 2;

            @include tablet {
                height: 2.2rem;
                bottom: .5rem;
            }

            @include desktop {
                max-width: 1280px;
                height: 2.5rem;
                margin: 0 auto;
            }
        }

        &__list {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        &__item {
            list-style: none;
            margin: 0 auto;
            font-size: 1rem;
            text-decoration: none;
            color: white;

            @include tablet {
                font-size: 2rem;
            }
        }
    }
}