@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.nav {
    @include desktop {
        position: fixed;
        bottom: 0;
        height: 7rem;
        width: 100%;
        z-index: 1;

        &:hover .nav__bar-desktop {
            bottom: 0;
        }
    }

    &__bar {

        &-mobile {
            width: 100%;
            position: fixed;
            bottom: 0;

            @include tablet {
                display: none;
            }
        }

        &-tablet {
            display: none;

            @include tablet {
                display: block;
                width: 100%;
                position: fixed;
                bottom: 0;
            }

            @include desktop {
                display: none;
            }
        }

        &-desktop {
            display: none;

            @include desktop {
                display: block;
                width: 100%;
                position: absolute;
                bottom: -7rem;
                z-index: 1;
                transition: bottom 0.4s ease;
            }
        }
    }
}